In [59]:
import pandas as pd
import numpy as np

In [8]:
pd.Series([1,2,3,4,5],index=list('abcde'))   #default integer index

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
s=pd.Series([1,3,5,7,9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [10]:
s=pd.Series(np.random.randint(1,11,size=(5)),index=list('abcde'))
s

a     2
b     2
c     4
d     3
e    10
dtype: int32

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
s.values

array([ 2,  2,  4,  3, 10])

In [13]:
s=pd.Series({'a':'A','b':'B','c':'C','d':'D'})
s

a    A
b    B
c    C
d    D
dtype: object

In [14]:
s['a']

'A'

In [15]:
s[:3]

a    A
b    B
c    C
dtype: object

In [16]:
s=pd.Series(np.random.randint(1,11,size=(10,)))
s

0     6
1    10
2    10
3     9
4    10
5     6
6     7
7    10
8    10
9     8
dtype: int32

In [17]:
s[s>s.median()]

1    10
2    10
4    10
7    10
8    10
dtype: int32

In [18]:
s>s.median()

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

In [19]:
s[[4,3,1]]

4    10
3     9
1    10
dtype: int32

In [20]:
np.exp

In [21]:
s.dtype

dtype('int32')

#### Data Frames

In [25]:
d={'one':pd.Series([1,2,3],index=list('abc')),
                 'two':pd.Series([1,2,3,4],index=list('abcd'))}

In [28]:
df=pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [29]:
pd.DataFrame(d, index=['d','b','a'])

   one  two
d  NaN    4
b  2.0    2
a  1.0    1

In [31]:
pd.DataFrame(d,columns=['two','three'])

   two three
a    1   NaN
b    2   NaN
c    3   NaN
d    4   NaN

In [33]:
df.index
df.columns

Index(['one', 'two'], dtype='object')

In [39]:
data=[{'a':1,'b':2},{'a':58,'b':41,'c':565}]

In [40]:
df=pd.DataFrame(data,dtype='int64')
df

    a   b      c
0   1   2    NaN
1  58  41  565.0

In [51]:
df.loc[0]

a    1.0
b    2.0
c    NaN
Name: 0, dtype: float64

In [52]:
df.loc[1]

a     58.0
b     41.0
c    565.0
Name: 1, dtype: float64

In [48]:
df['a']

0     1
1    58
Name: a, dtype: int64

In [55]:
df.iloc[1,0]

58

In [61]:
df[0:3]

    a   b      c
0   1   2    NaN
1  58  41  565.0

## Important point

In [62]:
np.nan==None   #Nan is not None

False

### cellular magic function -  timeit function

In [67]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    400
1    907
2    206
3    819
4    163
dtype: int32

In [75]:
%%timeit -n 1000
sum=0
for item in s:
    sum+=item

1.76 ms ± 32.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [76]:
%%timeit -n 1000
sum1=np.sum(s)

155 µs ± 19.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)